a:hover{
    color: #F50;
}
.header {
    width: 100%;
    height: 34px;
    background: #f5f5f5;
}

.header .wrap {
    width: 1190px;
    height: 34px;
    margin: 0 auto;
}

.header .wrap .left {
    height: 100%;
    width: 325px;
    float: left;
}

.header .wrap .left ul {}

.header .wrap .left ul li {
    float: left;
    width: 80px;
    text-align: center;
    line-height: 34px;
    font-size: 12px;
}

.header .wrap .left ul li:nth-last-child {
    padding-left: 20px;
}

.header .wrap .right {
    height: 100%;
    float: right;
}

.header .wrap .right ul {}

.header .wrap .right ul li {
    float: left;
    width: 70px;
    text-align: center;
    line-height: 34px;
    font-size: 12px;
}

.menu {
    width: 100%;
    height: 110px;
}

.menu .wrap {
    width: 1190px;
    height: 100%;
    margin: 0 auto;
}

.menu .wrap .left {
    height: 100%;
    width: 190px;
    float: left;
}

.menu .wrap .left img {
    height: 90px;
    width: 190px;
    margin-top: 10px;
}

.menu .wrap .right {
    height: 100px;
    width: 600px;
    float: left;
    margin-left: 200px;
}

.menu .wrap .right form {
    margin-top: 30px;
    height: 40px;
}

.menu .wrap .right form input {
    float: left;
    width: 420px;
    height: 36px;
    border: none;
    border: 2px solid #F90;
    padding-left: 25px;
    outline: none;
    /*搜索的图标*/
//  background-image: ;
}

.menu .wrap .right form buttom {
    float: left;
    height: 100%;
    width: 120px;
    line-height: 40px;
    font-size: 20px;
    color: white;
    text-align: center;
    background: #F90;
}

.menu .wrap .right ul {
    margin-top: 5px;
}

.menu .wrap .right ul li {
    color: #999;
    float: left;
    height: 12px;
    font-size: 12px;
}

.menu .wrap .right ul li a {
    color: #999;
    padding: 0 10px;
    border-right: 1px solid #999;
}

.menu .wrap .right ul li a:nth-last-child {
    border: none;
}

.menuBar {
    width: 100%;
    height: 38px;
}

.menuBar .wrap {
    width: 1190px;
    height: 100%;
    margin: 0 auto;
}

.menuBar .wrap .itemshow{
      position: relative;
      float: left;
      height: 38px;
      width: 190px;
}

.menuBar .wrap .itemshow p {
    color: white;
    font-size: 13px;
    height: 38px;
    width: 190px;
    background: #F90;
    line-height: 38px;
    float: left;
}
/*-------------*/


.menuBar .wrap  .itemshow p .newImg{
    display: inline-block;
    position: relative;
    height: 12px;
    width:12px ;
    background: url(/img/newbg.png) no-repeat ;
    left:1px;
    top:3px;
    margin: 0 5px;
}
.menuBar .wrap ul {
    width: 795px;
    height: 38px;
    float: left;
}

.menuBar .wrap ul li {
    position: relative;
    height: 38px;
    text-align: center;
    line-height: 38px;
    float: left;
    padding: 0 12px 0 13px;
    font-size: 15px;
}

.menuBar .wrap ul li a {
    font-family: "Microsoft Yahei";
}
.menuBar .wrap ul li:hover a{
    color: #F50;
}

.menuBar .wrap ul li span{
    display: none;
    position: absolute;
    width: 25px;
    height: 8px;
    bottom: 0px;
    left:50%;
    margin-left: -12px;
    background: url("https://res.suning.cn/project/cmsWeb/suning/homepage/v6/css/images/index.png?v=2018101801") -37px 0;
    transition: all .5s;
    }

.itemshow .itemmenu{
    position: relative;
    
}
.itemshow .itemmenu>.left {
    height: 482px;
    width: 190px;
    background: #252221;
    position: absolute;
    top:38px;
    display: none;
    z-index: 998;
}

.itemshow .itemmenu>.left .index-list {
    height: 48px;
    width: 190px;
}

.itemshow .itemmenu .left .index-list li {
    position: relative;
    width: 175px;
    height: 32px;
    padding: 0 8px 0 10px;
    line-height: 32px;
}

.itemshow .itemmenu .left .index-list li a {
    display: inline-block;
    vertical-align: middle;
    color: #FFF;
    font-size: 13px;
}
.itemshow .itemmenu .left .index-list li:hover {
    background: #FFF;
    
}
.itemshow .itemmenu .left .index-list li:hover a{
    color: #333;
    
}
.itemshow .itemmenu .left .index-list li:hover .listmenu{
    display: block;
    
}
.itemshow .itemmenu .left .index-list li a:hover{
    color: #F60;
}

.itemshow .itemmenu .left .index-list li em {
    display: inline-block;
    vertical-align: middle;
    height: 12px;
    width: 1px;
    opacity: .4;
    background: #d8d8d8;
    margin: 0 5px;
}


/*右侧菜单*/

.itemshow .itemmenu .listmenu{
    z-index: 998;
    display: none;
    position: absolute;
    top:38px;
    left:190px;
    width: 999px;
    /*display: block;*/
    min-height: 480px;
    overflow: hidden;
    background: #FFF;
    z-index: 7676;
    border:1px solid #382526;
    border-left: none;
    
}
.itemshow .itemmenu .listmenu .left{}
.itemshow .itemmenu .listmenu .left .topmenu{
    width:686px;
    float:left;
    height:24px;
    margin:10px 0 0 8px;
    overflow: hidden;
}
.itemshow .itemmenu .listmenu .left .topmenu a{
    padding: 3px 12px;
    background:#F50;
    color:#FFF;
    margin: 0 5px;
    
}
.itemshow .itemmenu .listmenu .left .maincontent{
    width:780px;
    margin: 10px 0 0 0;
    padding-left: 20px;
    overflow: hidden;
    float:left;
}
.itemshow .itemmenu .listmenu .left .maincontent dl{
    width: 750px;
    float:left;
    height:auto;
    overflow: hidden;
}
.itemshow .itemmenu .listmenu .left .maincontent dl dt{
    width: 84px;
    float:left;
    height:20px;
    line-height: 20px;
    font-weight: 700;
    padding-left: 10px;
    padding-top: 8px;
}

.itemshow .itemmenu .listmenu .left .maincontent dl dd{
    width: 650px;
    float:left;
    line-height: 20px;
    border-bottom: 1px solid #eee;
    margin-top:8px;
    overflow: hidden;
    font:12px/1.5 arial,tahoma,\5b8b\4f53;
}
.itemshow .itemmenu .listmenu .left .maincontent dl dd a:hover{
    color:#F60;
}

.itemshow .itemmenu .listmenu .left .maincontent dl dd a{
    margin-right: 15px;
    display: inline-block;
    font-family: "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
}


